.corpo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Adicionado para ocupar a tela inteira */
  text-align: center;
}

.App {
  text-align: center;
}

.Calculadora {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Calculadora-header {
  background-color: #282c34;
  min-height: 10vh;
  min-width: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Calculadora-link {
  color: #61dafb;
}
